@import "tailwindcss";

body {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

@layer components {
  .prose h1 {
    @apply text-4xl font-bold mb-10 text-center;
  }

  .prose h2 {
    @apply text-3xl font-semibold mt-6 mb-4;
  }

  .prose h3 {
    @apply text-2xl font-semibold mt-6 mb-4;
  }

  .prose ul {
    @apply list-disc pl-6 space-y-2;
  }

  .prose ol {
    @apply list-decimal pl-6 space-y-2;
  }

  .prose li {
    @apply leading-relaxed;
  }

  .prose p {
    @apply mb-4 leading-relaxed;
  }

  .prose strong {
    @apply font-bold text-[#92ACA0];
  }

  .prose pre {
    @apply rounded mt-6 mb-4 px-6 py-6 text-sm font-mono
    bg-gray-700 text-gray-100
    dark:bg-gray-900/40 dark:text-gray-300;
  }

  .prose img {
    @apply rounded-lg mt-6 mb-6 max-h-100 mx-auto;
  }

  .prose a {
    @apply text-[#92ACA0] underline;
  }

  .prose blockquote {
    @apply border-l-4 border-gray-500 pl-4 italic my-6;
  }

  
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */